.results-container{
  padding: 30px;
}

.results-container > * {
  margin-bottom: 10px;
}

.after-game-option{
  display: flex;
  justify-content: space-evenly;
}

ol{
  position: relative;
  top:20px;
  left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

ol>*{
  margin-bottom: 10px;
  text-align: left;
  color: #261D51;
  font-weight: bold;
}

li>*{
  color: #261D51;
  font-size: 17px;
  font-weight: bold;
}

.allResults{
  background-color: #5EAEFA;
  border-radius: 20px;
}