@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

*{
  margin: 0;
  padding:0;
  color:white
}

html{
  font-family: 'Goudy Bookletter 1911', serif;
}